.extra-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.extra-details div {
  margin: 0.5rem 0;
  font-size: 1.5rem;
}
.extra-details div i {
  margin-right: 1rem;
  color: $glacier-blue;
}

@media (max-width: 41.4rem) {
  .extra-details {
    flex-direction: row;
    justify-content: space-around;
  }
}