.header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  box-shadow: 0rem 0.2rem 0.3rem darken($light-grey, 10%);
}

.title {
  color: $orange;
  font-weight: 400;
  font-size: 2.5rem;
  text-decoration: none;
}

.title:hover {
  color: darken($orange, 10%);
  transition: ease-in-out 200ms color;
}

.units {
  position: relative;
  height: 2.6rem;
  width: 8rem;
  margin: 0 auto;
  background: $superlight-grey;
  border: 0.1rem solid $light-grey;
  border-radius: 1rem;
}

.unit-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 3.8rem;
  line-height: 2.6rem;
  font-size: 2.5rem;
  color: $orange;
  text-align: center;
  cursor: pointer;
}

.unit-label:active {
  font-weight: bold;
}

.unit-deselected {
  padding-right: 0.2rem;
}

.unit-selected {
  padding-left: 0.2rem;
}

.units input {
  display: none;
}

.units input:checked + .unit-label {
  font-weight: bold;
  color: #fff;
}

.units input:checked + .unit-selected ~ .unit-selection {
  left: 4rem;
}

.unit-selection {
  position: absolute;
  z-index: 1;
  top: 0rem;
  left: 0rem;
  display: block;
  width: 4rem;
  height: 2.4rem;
  border-radius: 1rem;
  background: $glacier-blue;
}

@media (max-width: 41.4rem) {
  .header {
    flex-direction: column;
  }

  .units {
    margin-top: 1rem;
  }
}

